{% extends 'layout.html' %}
{% block head %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="row"id="board" style="width: 500px"></div>
        <div class="row">
            <h4 id="myturn" class="text-muted">your turn</h4>
            <h4 id="histurn" class="text-primary">oppenent's turn</h4>
        </div>
    </div>
    <div class="col-md-6">
        <input id="gameId" value="{{gameId}}" readonly>
        <input id="orientation" value="{{orientation}}" readonly>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(init);
{% if newgame %}
swal({
        title: "Invite friend, share this link",
        text: "<center><code>"+window.location.host+"/joingame/{{gameId}}</code><center>",
        html: true
    });
{% else %}
    swal("Welcome, lets play!");
{% endif %}
</script>
{% endblock %}
