{% extends 'layout.html' %}
{% block head %}
<script type="text/javascript" src="/game.js"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="row"id="board" style="width: 500px"></div>
        <div class="row">
            <h4 id="myturn" class="text-muted">your turn</h4>
            <h4 id="histurn" class="text-primary">oppenent's turn</h4>
        </div>
    </div>
    <div class="col-md-6">
        <input id="gameId" value="{{gameId}}" readonly>
        <input id="orientation" value="{{orientation}}" readonly>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/lib/chess.js/chess.min.js"></script>
<script type="text/javascript" src="/lib/chessboardjs/js/chessboard.min.js"></script>
<script>
$(document).ready(init);
</script>
{% endblock %}
